* {
  font-family: "Cooper Black", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(star-empty.png);
  background-size: cover;
}

.rating input:checked ~ label {
  background-image: url(star-filled.png);
}
